{% extends 'base.html.twig' %}

{% block title %}New Bedrijf{% endblock %}

{% block body %}
    <h1>Create new Bedrijf</h1>

    {{ include('bedrijf/_form.html.twig') }}

    <a href="{{ path('bedrijf_index') }}">back to list</a>
{% endblock %}
